@import "../../styles/scss/abstract/variables";
@import "../../styles/scss/abstract/mixins";

.section__signup {
  background-color: getColor(clearColor);
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  margin: auto;
  color: getColor(darkColor);

  .section__signup__content__wrapper {
    padding: 2rem 0;

    .section__signup__title__wrapper {
      .section__signup__title {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .section__signup__link {
        font-size: 14px;
        margin-bottom: 1.5rem;

        a {
          color: getColor(secondaryColor);
          &:hover{
            border-bottom: 1px solid getColor(secondaryColor);
          }
        }

        input {
          border: none;
          padding: 0;
          color: getColor(secondaryColor);
          cursor: pointer;
        }

        input:hover {
          border-bottom: 1px solid getColor(secondaryColor);
        }
      }
    }

    .section__signup__form {
      box-sizing: border-box;

      p {
        font-size: 0.75rem;
      }

      .section__signup__form__label {
        font-size: 0.75rem;
      }

      input {
        border: none;
        height: 40px;
        width: 100%;
      }
    }

  }
}

@media only screen and (min-width: 766px) {
  .section__signup {
    max-width: 500px;
    height: max-content;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1280px) {
  .section__signup {

  }
}
