.board-list__wrapper {
  width: 100vw;
  max-width: 1600px;
  height: max-content;
  margin: auto;
  padding: 40px 10px;
  box-sizing: border-box;

  .board-list__title {
    max-width: inherit;
    margin: 0 auto 40px;
    padding-left: 12px;
    font-size: 24px;
    font-weight: 600;
  }

  .board-list__important-section {
    max-width: inherit;
    margin: auto;

    .board-list__important-section__title {
      padding-left: 12px;
      font-size: 22px;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .board-list__important-section__list {
      display: flex;

      .board-list__important-section__list__item {
        background-image: url("https://source.unsplash.com/collection/1111575/1920x1080");
        border-radius: 5px;
        background-size: cover;
      }

      .board-list__important-section__list li {
        margin-top: calc(40px / 3);
        margin-right: calc(40px / 3);
      }

      .board-list__important-section__list li:last-child {
        margin-right: 0;
      }
    }
  }

  .board-list__section {
    max-width: inherit;
    margin: auto;

    .board-list__section__title__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 20px 0 5px;

      .board-list__section__title {
        font-size: 22px;
        padding-left: 12px;
        font-weight: 500;
      }

      .board-list__section__button {
        background-color: transparent;
        font-weight: 500;
        cursor: pointer;
        border: 1px solid transparent;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s;
        margin-right: 12px;
      }

      .board-list__section__button:hover {
        background-color: #172b4d;
        color: #fff;
        border-color: #172b4d;
      }
    }

    .board-list__section__list {
      display: flex;

      .board-list__section__list__item {
        background-image: url("https://source.unsplash.com/collection/1111575/1920x1080");
        border-radius: 5px;
        background-size: cover;
        background-position: center;
      }
    }

    .board-list__section__list li {
      margin-right: 12.5px;
    }

    .board-list__section__list li:last-child {
      margin-right: 0;
    }
  }
}

.rec-arrow-left,
.rec-arrow-right,
.rec-dot {
  display: none;
}
