$color: (
        darkColor: #444444,
        clearColor: #fff,
        primaryColor: #1c41a8,
        secondaryColor: #2753ff,
        thirdColor: #4bbf6b,
        facebookColor: #3b5998,
        listBackground: #ebecf0,
        borderColor: #eaeaea
);
