.header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #fff;

  .header__title__wrapper {
    margin: 0 auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.9%;

    .header__title {
      margin: auto 0;
      font-weight: 500;
      font-size: 28px;
      cursor: pointer;
    }
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97.9%;
    border-bottom: 1px solid #ced4de;

    .header__nav__list {
      display: flex;

      .header__nav__list__item {
        margin: 0 30px 20px 0;
        cursor: pointer;
      }
    }

    .header__nav__options__wrapper {
      display: flex;

      .header__nav__options__button__wrapper {
        margin: 0 0 20px 30px;
        cursor: pointer;
      }
    }
  }
}
