@import "../../../styles/scss/abstract/mixins";

.project{
  max-height: 6rem;
  padding: 1rem;
  background: getColor(primaryColor);
  color: getColor(clearColor);
  line-height: 1.2em;
  overflow: hidden;

  img{
    height: 70%;
    display: none;
  }
  h3{
    font-weight: 600;
    margin-bottom: 1rem;
  }
  p{
    display: none;
  }
  word-break: break-word;
  word-wrap: break-word;
  border-radius: 0.25rem;
}

@media screen and (min-width: 768px) {
  .project{
    max-height: none;
    min-height: 12rem;
    border-radius: 0.75rem;
    margin: 1rem 0;
    p{
      display: block;
    }
  }
}

@media screen and (min-width: 1280px) {
  .project{
    img{
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      max-height: 70%;
    }
  }
}

.long:after {
  content: '...';
}
