@import "../../../styles/scss/abstract/variables";
@import "../../../styles/scss/abstract/mixins";

.board__list__wrapper {
  display: flex;
  justify-content: left;
  width: 100%;
  height: calc(100vh - 206px);
  overflow: auto;
  background-image: url("https://source.unsplash.com/random/1920x1080");

  .board__list {
    min-width: 310px;
    height: max-content;
    margin: 0 0 10px;

    .board__list__item {
      width: 100%;
      margin: 0 0 16px;
    }
    // Creates a div containter that is at least 1px tall, in case
    // there is no task in the list
    .board__list__item__div {
      min-height: 1px;
      height: max-content;
    }
  }
}

.float-menu__unactive {
  display: none;
}

.float-menu__active {
  display: inline;
}
