@import "../../../styles/scss/abstract/variables";
@import "../../../styles/scss/abstract/mixins";

.board__list__wrapper {
  display: flex;
  justify-content: left;
  overflow-x: hidden;
  background-color: #f9fbfd;

  .board__list {
    min-width: 310px;
    display: block;
    height: max-content;
    margin: 0 0 10px;
  }
}
