.task__adder__wrapper {
  padding: 0 15px;

  .task__adder {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .task__adder:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
}
