@import "../../../../../styles/scss/abstract/variables";
@import "../../../../../styles/scss/abstract/mixins";

.task-adder__wrapper {
  padding: 0 20px;

  input {
    width: 100%;
    padding: 0 5px;
    height: 30px;
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    border-radius: 3px;
    color: rgb(110, 110, 110);
  }

  input:hover {
    background-color: #e6eefb;
  }
}
