.normal-board__wrapper {
  width: calc((1580px / 5) - 10px);
  height: 150px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  cursor: pointer;
  background-color: hsla(0, 0%, 0%, 0.3);
  transition: 0.3s;

  .normal-board__title {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
  }
}

.normal-board__wrapper:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
}
