@import "../../styles/scss/abstract/mixins";

* {
  font-family: "Ubuntu", sans-serif;
  padding: 0;
  margin: 0;
}

.board__wrapper {
  background-color: getColor(clearColor);
  width: 100%;
  height: 100vh;
  background-color: #fdfdfd;
}

@media only screen and (max-width: 768px) {
  .board__wrapper {
    overflow-x: hidden;
  }
}
