@import "../../styles/scss/abstract/mixins";

.board__wrapper {
  background-color: getColor(clearColor);
  width: 100%;
  height: 100vh;
  background-color: #fdfdfd;
  box-sizing: border-box;
  * {
    font-family: "Ubuntu", sans-serif;
    color: #172b4d;
  }
}

@media only screen and (max-width: 768px) {
  .board__wrapper {
    overflow-x: hidden;
  }
}
