@import "../../../../../styles/scss/abstract/variables";
@import "../../../../../styles/scss/abstract/mixins";

.task__wrapper {
  width: 90%;
  height: 150px;
  border-radius: 3px;
  background-color: #fdfdfd;
  cursor: pointer;
  margin: 12px auto;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(206, 212, 222, 0.5);
  box-shadow: 0px 0px 24px 0px rgba(206, 212, 222, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .title__wrapper {
    display: flex;
    justify-content: space-between;

    h3 {
      width: 100%;
      height: 18px;
      resize: none;
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      margin: auto;
    }

    .button__wrapper {
      width: 30px;
      height: 28px;
      box-sizing: border-box;
      padding: 5px 6px;
      border-radius: 3px;
      cursor: pointer;
    }

    .button__wrapper:hover {
      background-color: #edf3fa;
    }
  }

  .buttons__wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;

    .button__wrapper {
      width: max-content;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      cursor: pointer;
      margin-right: 6px;
      padding: 2px;

      p {
        font-size: 12px;
        padding-left: 2px;
        color: #777879;
      }
    }
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;

    .label {
      font-size: 12px;
      padding: 3px 8px;
      background-color: #d5ddf9;
      font-weight: 500;
      border-radius: 10px;
      margin: 4px 0;
    }

    .people {
      img {
        border-radius: 50%;
        margin-left: 3px;
        width: 26px;
        height: 26px;
      }
    }
  }
}

.task__wrapper:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(173, 174, 175, 0.5);
  box-shadow: 0px 0px 24px 0px rgba(173, 174, 175, 0.5);
}
