@import "../../styles/scss/abstract/variables";
@import "../../styles/scss/abstract/mixins";

.section__login {
  background-color: getColor(clearColor);
  height: 100vh;
  width: 100%;
  padding: 0 50px;
  margin: auto;
  color: getColor(darkColor);
  .section__login__content__wrapper {
    padding: 2rem 0;
    .section__login__title__wrapper {
      .section__login__title {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      .section__login__link {
        font-size: 14px;
        margin-bottom: 30px;

        a {
          color: getColor(secondaryColor);
          &:hover{
            border-bottom: 1px solid getColor(secondaryColor);
          }
        }

        input {
          border: none;
          padding: 0;
          color: getColor(secondaryColor);
          cursor: pointer;
        }

        input:hover {
          border-bottom: 1px solid getColor(secondaryColor);
        }
      }
    }

    .section__login__form {
      box-sizing: border-box;

      .section__login__form__label {
        font-size: 14px;
      }

      input {
        border: none;
        //border-bottom: 1px solid getColor(borderColor);
        height: 40px;
        width: 100%;
      }

    }
  }
}

.divide{
  display: flex;
  justify-content: center;
  p{
    position: relative;
    /*
    &::before{
      background: #eaeaea;
      content: "";
      height: 1px;
      left: 1.5rem;
      position: absolute;
      top: 50%;
      width: 10.5rem;
    }
    &::after{
      background: #eaeaea;
      content: "";
      height: 1px;
      left: 1.5rem;
      position: absolute;
      top: 50%;
      width: 10.5rem;
      transform: translateX(-12.5rem);
    }
     */
  }

}

@media only screen and (min-width: 766px) {
  .section__login {
    max-width: 500px;
    height: max-content;
    border-radius: 5px;
  }
}


