@import "../styles/scss/abstract/variables";
@import "../styles/scss/abstract/mixins";

.App {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
}

.sign-page {
  background: url("../assets/images/bg-signin.jpg");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1280px){
  .sign-page{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


a {
  text-decoration: none;
}

input{
  outline: none;
}
