@import "../styles/scss/abstract/variables";
@import "../styles/scss/abstract/mixins";

.App {
  font-family: "Source Sans Pro", "Roboto", sans-serif;
}

.main {
  background-color: getColor(primaryColor);
  background-position: bottom;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
