@import "../../../../../styles/scss/abstract/variables";
@import "../../../../../styles/scss/abstract/mixins";

.title__list__wrapper {
  background-color: #fdfdfd;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;

  .title__list {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e7f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;

    h2 {
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;
    }

    textarea {
      display: none;
    }
  }

  .title__list--active {
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e7f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;

    h2 {
      background-color: transparent;
      font-size: 14px;
      font-weight: 500;
    }

    textarea {
      font-size: 14px;
      font-weight: 500;
      position: absolute;
      resize: none;
      height: 25px;
      width: 90%;
      border: 1px solid #6687ff;
      border-radius: 3px;
      text-align: center;
      padding-top: 3px;
    }
  }
}
