@import "../../../../../styles/scss/abstract/variables";
@import "../../../../../styles/scss/abstract/mixins";

.title__list__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;

  textarea {
    width: 90%;
    height: 20px;
    resize: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
  }

  button {
    height: 30px;
    width: 10%;
    background-color: transparent;
    cursor: pointer;
    border-radius: 3px;

    img {
      width: 100%;
    }
  }

  button:hover {
    background-color: rgb(204, 204, 204);
  }
}
