.boards__wrapper {
  min-width: max-content;
  max-width: 100%;
  min-height: max-content;
  max-height: 100%;
  display: flex;
  background-color: #f6f7ff;

  * {
    font-family: "Ubuntu", sans-serif;
    color: #172b4d;
  }
}
