.boards__wrapper {
  width: 100%;
  height: 100%;
  background-color: #f4f5f7;

  * {
    font-family: "Ubuntu", sans-serif;
    color: #172b4d;
  }

  .boards__header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    border-bottom: 1px solid #172b4d20;
    background-color: #f4f5f7;

    .boards__header__navigation {
      width: 100%;
      height: 80px;
      padding: 0 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;

      .boards__header__navigation__title {
        font-weight: 600;
        cursor: pointer;
      }

      .boards__header__navigation__user__options {
        background-color: transparent;
        border: none;
        cursor: pointer;

        .boards__header__navigation__user__image {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
      }
    }
  }

  .boards__main {
    margin-top: 80px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .boards__main__searchbar {
      border: 1px solid #172b4d65;
      border-radius: 10px;
      width: 90%;
      max-width: 400px;
      height: 40px;
      display: flex;
      align-items: center;
      margin: 100px 0 50px;
      background-color: #fff;

      .boards__main__searchbar__input {
        background-color: transparent;
        padding-left: 10px;
        width: 90%;
      }
      .boards__main__searchbar__button {
        background-color: transparent;
        padding: 0 10px;
        cursor: pointer;
      }
    }

    .boards__main__title__wrapper {
      margin-bottom: 120px;
      text-align: center;

      .boards__main__description {
        margin-top: 10px;
      }
    }
  }
}
