.boards__wrapper {
  min-width: max-content;
  max-width: 100%;
  min-height: max-content;
  max-height: 100%;
  background-color: #fff;

  * {
    font-family: "Poppins", sans-serif;
    color: #172b4d;
  }
}
