*{
  box-sizing: border-box;
  font-family: "Source Sans Pro","Roboto", sans-serif;
}

body,
html {
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex{
  display: flex;
}

.align-items-center {
  align-items: center;
}
